@use '../sass/variables' as *;

.font-preset-1 {
    font-size: map-get($fs, fs-xxl);
    font-weight: $fw-bold;
    line-height: 0.89;
    letter-spacing: -.216rem;
}

.font-preset-2 {
    font-size: map-get($fs , fs-l);
    font-weight: $fw-bold;
    line-height: 0.93;
    letter-spacing: -.168rem;
}

.font-preset-3 {
    font-size: map-get($fs , fs-m);
    line-height: 1.11;
}

.font-preset-4 {
    font-size: map-get($fs , fs-xl);
    font-weight: $fw-bold;
    line-height: 0.83;
    letter-spacing: -.216rem;
}

.clr-primary {
    color: map-get($clr, primary);
}

.clr-secondary {
    color: map-get($clr, secondary);
}

.clr-accent-150 {
    color: map-get($clr, neutral-150);
}

.clr-neutral-800 {
    color: map-get($clr, neutral-800);
}

.clr-neutral-900 {
    color: map-get($clr, neutral-900);
}

.clr-neutral-1000 {
    color: map-get($clr, neutral-1000);
}

