@mixin flexCenter($direction, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: $align;
}

@mixin screanSize($width) {
    @media (min-width: $width) {
        @content;
    }
}