
@mixin flexCenter($direction, $aligne: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: $aligne;
}

@mixin screanSize($width) {
    @media (min-width: $width) {
        @content;
    }
}