//font colors
$clr: (
    "primary": hsla(158, 36%, 37%, 1),
    "secondary": hsl(0, 0%, 100%, 1),
    "accent-400": hsl(158, 42%, 18%, 1),
    "neutral-100": hsl(212, 21%, 14%, 1),
    "neutral-600": hsl(228, 12%, 48%, 1),
    "neutral-900": hsl(30, 38%, 92%, 1)
);
//font sizes
$fs: (
    "fs-xs": 1.2rem, 
    "fs-s": 1.3rem,
    "fs-m": 1.4rem,
    "fs-xl": 3.2rem
);
//Screen break points//
$brakepoint-desktop: 600px;
$brakepoint-mobile: 375px;

//font weights
$fw-regular: 500;
$fw-bold: 700;

$ff-primary: "Montserrat", "sans-serif";
$ff-secondary: "Fraunces", "sans-serif";