@use "sass:map";

//font colors
$clr: (
    "primary": hsla(256, 67%, 59%, 1),
    "secondary": hsla(39, 100%, 71%, 1),
    "neutral-150": hsla(0, 0%, 7%, 1),
    "neutral-800": hsla(254, 88%, 90%, 1),
    "neutral-900": hsla(31, 66%, 93%, 1),
    "neutral-1000": hsla(0, 0%, 100%, 1)
);
//font sizes
$fs: (
    "fs-m": 1.8rem,
    "fs-l": 2.8rem,
    "fs-xl": 3.6rem,
    "fs-xxl": 5.4rem
);
//Screen break points//
$brakepoint-desktop: 600px;
$brakepoint-mobile: 375px;

//font weights
$fw-regular: 400;
$fw-bold: 500;

$ff-primary: "DM Sans", "sans-serif";
// $ff-secondary: "DM Sans","sans-serif";